### OSX ###
public
js/actions_test
server/passport/config.js

### dependencies ###
node_modules

### NPM ###
npm-debug.log

### Bower ###

### Production ###
public

### API keys ###
server/database/pw.js

### WIP ###
js/actions_test
