### OSX ###
public
js/actions_test
server/passport/config.js

### dependencies ###
node_modules

### NPM ###
npm-debug.log

### Bower ###

### Production ###
public
.next
dist

### API keys ###
server/db/pw.js

### WIP ###
js/actions_test

### .env ###
.env
.env.secret
