.form {
  max-width: 200px;
  margin: auto;
}

.form__title {
  @include headline-text-l;
  text-align: center;
  margin-bottom: 30px;
}

.form__group {
  display: grid;
  margin-bottom: 20px;
}

.form__label {
  @include body-text-l;
  margin-bottom: 7px;
}

.form__input {
  height: 30px;
  border-radius: 2px;
  border: 0.6px solid $gray-light;
}

.form__submit {
  width: 100%;
}

.form__warning {

}

.form__text {
  margin-top: 20px;
}