.login {
  margin-top: 60px;
}

// .login__container {
//   margin: 0 auto;
//   padding-top: 81px;
//   // padding-bottom: 358px;
//   width: 300px;
// }

.login__title {
  font-family: Source Sans Pro;
  font-size: 30px;
}