// BASE COLORS
// -----------------------------------------------------------------------------
$black: #000;
$gray-darkest: #222;
$gray-darker: #333333;
$gray-dark: #757575;
$gray-light: #CCC;
$gray-lightest: #F2F2F2;
$white: #FFF;

$transparent: rgba(0, 0, 0, 0.65);
$text-safety: rgba(0, 0, 0, 0.35);
$shadow: rgba(0, 0, 0, 0.12);

$brand-dark: #EC407A;
$brand-color: #F06292;
$brand-light: #F8BBD0;

$warning: #FF940A;
$error: #EC3F1C;

$badge-green: #008000;
$badge-orange: #ffa500;
$badge-red: #ff0000;

// TEXT
// -----------------------------------------------------------------------------
$text: $gray-darkest;
$text-light: $gray-dark;

// BORDER
// -----------------------------------------------------------------------------
$border: $gray-light;
