// HEADER
// -----------------------------------------------------------------------------
$header-height: 68px;
$header-mobile-height: 50px;

// NAV
// -----------------------------------------------------------------------------
$nav-height: 68px;
$nav-mobile-height: 50px;
$nav-mobile-width: 80vw;

// SEARCH PAGE (SRP / LDP)
// -----------------------------------------------------------------------------
$search-desktop-width: 800px;
$search-mobile-width: 60%;

// FILTER BAR
// -----------------------------------------------------------------------------
$filter-bar-height: 56px;
$filter-bar-height-stacked: 76px;

// PAGE
// -----------------------------------------------------------------------------
$page-padding: 24px;

// DURATION
// -----------------------------------------------------------------------------
$duration-long: 0.4s;
$duration-medium: 0.3s;
$duration-short: 0.2s;

// TEMP
// -----------------------------------------------------------------------------
$home-section-spacing: 5px;
