// Z-Index Positioning
//------------------------------------------------------------------------------
$pushback: -1;
$pullforward: 1;
$filterBar: 2;

$z-button: 7;
$z-header: 8;
$z-progressbar: 9;
$z-modal: 10;