.form {
  display: grid;

  &__login {
    max-width: 200px;
    margin: auto;
  }

  &__left {
    max-width: 500px;
    margin: auto;
    &--group {
      grid-template-columns: 1fr 1fr;
    }
  }

  &--title {
    @include headline-text-l;
    text-align: center;
    margin-bottom: 30px;
  }

  &--group {
    display: grid;
    margin-bottom: 20px;
  }

  &--label {
    @include body-text-l;
    margin-bottom: 7px;
  }

  &--input {
    height: 30px;
    border-radius: 2px;
    border: 0.6px solid $gray-light;
  }

  &--submit {
    padding: 10px;
    margin: 0 auto;
    height: 40px;
  }

  &--warning {
    font-weight: 500;
    color: $error;
    margin-top: 6px;
  }
  &--text {
    margin-top: 20px;
  }

  &--link {
    color: $brand-color;
  }
}
