.app-bar {
  background-color: white;
  z-index: 1;
  cursor: pointer;
  position: fixed;
  display: grid;
  opacity: 1;
  grid-template-columns: 1fr 18fr 2fr;
  width: 100%;
  height: $header-height;
}

.app-bar__header {
  @include logo-text;
  margin: auto 10px;
}

.app-bar__menu-svg {
  width: 2em !important;
  height: 2em !important;
  fill: $brand-light !important;
  margin: auto !important;
}

.app-bar__button-container {
  margin: auto;
}

// .app-bar__button {
//   margin: auto 10px !important;
// }