.profile {
  display: grid;
  max-width: 400px;
  margin: auto;

  &--row {
    margin: auto;
    margin-bottom: 37px;
    display: grid;

    &__image {
      display: flex;
      position: relative;
    }

    &__image-edit {
      text-align: center;
      position: absolute;
      right: -30px;
      bottom: -20px;
    }

    &__item {
      border-bottom: 0.8px solid $gray-light;
      width: 100%;
    }

    &__no-edit {
      grid-template-columns: 1fr 1fr;
    }

    &__edit {
      grid-template-columns: 1fr 1fr 0.2fr;
    }
  }

  &--item-title {
    @include headline-text-s;
  }

  &--item-content {

  }
}