.users {
  display: grid;
  margin: auto;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 100px;
  grid-row-gap: 100px;
}

.user {
  &--image-container {
    width: 200px;
    height: 300px;
    overflow: hidden;
  }

  &--image {
    height: 100%;
    min-width: 100%;
    left: 50%;
    position: relative;
    transform: translateX(-50%);
  }

  &--username {
    @include body-text-l;
    text-align: center;
  }
}