.button {
  @include button-text-s;
  align-items: center;
  background: $brand-color;
  border: 0;
  border-radius: 2px;
  box-shadow: none;
  box-sizing: border-box;
  color: $white;
  cursor: pointer;
  display: inline-flex;
  height: 32px;
  justify-content: center;
  margin: 0;
  min-width: 100px;
  outline: none;
  padding: 0 12px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: background 0.2s, color 0.2s;
  &:hover {
    background: lighten($brand-color, 2%);
  }
  &:active {
    background: darken($brand-color, 2%);
  }

  // Button Styles
  // ---------------------------------------------------------------------------

  &--light {
    background: $white;
    box-shadow: 0 2px 2px 0 #AAA, 0 0 2px 0 #AAA;
    color: $brand-color;
    &:hover {
      background: $white;
    }
  }

  &--flat {
    background: transparent;
    border-radius: 0 !important;
    color: $gray-darker;
    &:hover {
      background: $gray-lightest;
      color: $brand-color;
    }
  }
  &--faded {
    background: $gray-lightest;
    border-radius: 0 !important;
    color: $gray-light;
    &:hover {
      background: $gray-lightest;
    }
  }

  &--danger {
    background: $error;
    &:hover {
      background: lighten($error, 2%);
    }
    &:active {
      background: darken($error, 2%);
    }
  }

  &--warning {
    background: $warning;
    &:hover {
      background: lighten($warning, 2%);
    }
    &:active {
      background: darken($warning, 2%);
    }
  }

  &--disabled {
    background: $gray-light;
    border: 1px solid $gray-dark;
    box-shadow: none;
    color: $gray-dark;
    pointer-events: none;
    &:hover {
      background: $gray-light;
    }
  }

  &--link {
    color: $brand-dark;
  }

  // Button Sizes
  // ---------------------------------------------------------------------------

  &--medium {
    @include button-text-m;
    border-radius: 4px;
    height: 60px;
    padding: 0 32px;
  }

  &--large {
    @include button-text-m;
    border-radius: 4px;
    height: 70px;
    padding: 0 48px;
  }
}